/*styles for the whole page*/
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

html{
    background-color: #56585f
}

/*styles for links*/
a{
    font-weight: bold;
}

a:link{
    color: #bcc4cf
}

a:hover, a:focus{
    color:#2880b9;
}

a:visited{
    color:#946eb8;
}

/*styles for elements*/
body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 800px;
    margin: 20px auto;
    border: 2px solid black;
    background-color: #413d47;
    box-shadow: 0px 10px 5px 5px #3d3d3d;
}

/*styles for nav*/
nav ul{
    padding: 0;
    list-style: none;
    position: relative;
    li:hover, li:focus{
        background-color:lightblue;
    }
}

nav ul li{
    float: left;
    text-align: center;
    position: relative;
    display: block;
    width:  266.666666667px;
    color: white;
    background-color: #45464d;
    border-bottom: 2px solid black;
    text-decoration: none;
}

nav ul li a{
    display: block;
    padding: 10px 0;
}

nav ul li ul{
    border-top: 2px solid black;
    position: absolute;
    clear: both;
    display: none;
    top: 100%;
}

nav ul li:hover ul, nav ul li:focus ul{
    display: block;
}

/*styles for header*/
header{
    border-bottom: 2px solid black;
    background-image: linear-gradient(45deg, #45464d, #564863 55%, #56585f);
}

header h2{
    font-size: 200%;
    color: #e2e1e1;
    margin-left: 5px;
}

/*styles for main*/
main ul{
    line-height: 150%;
} 

section{
    margin-top: 10px;
    width: 800px;
    float: left;
}

section p{
    margin: 0 auto;
    width: 80%;
    font-size: 30px;
    color: #e2e1e1;
}

section div{
    width: 80%;
    height: 50px;
    border: 2px solid black;
    border-radius: 8px;
    background-image: linear-gradient(90deg, #81c979 50%, #413d47 50%);
    margin: 0 auto;
    margin-bottom: 10px;
}

/*styles for footer*/
footer{
    clear: both;
    border-top: 2px solid black;
    padding: 15px;
    background-image: linear-gradient(45deg, #45464d, #564863 55%, #56585f);
}

footer{
    font-size: 90%;
}

footer div{
    display: inline-block;
    padding-left: 20em;
}

footer div + div{
    float: right;
    display: inline-block;
    padding-left: 16em;
}

